@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;
    --foreground-rgb: 235, 235, 235;
    --background-rgb: 41, 30, 42;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
  }

  main {
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1260px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@layer utilities {
  .line-clamp-14 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 14;
  }
}

/* Disable arrows for number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Scrollable Div */
/* width */
#scrollableDiv::-webkit-scrollbar {
  width: 10px;
}
/* Track */
#scrollableDiv::-webkit-scrollbar-track {
  background: #111827;
}
/* Handle */
#scrollableDiv::-webkit-scrollbar-thumb {
  background: #ff4500;
  border-radius: 5px;
}
/* Handle on hover */
#scrollableDiv::-webkit-scrollbar-thumb:hover {
  background: #cc3600;
}
