@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 235, 235, 235;
    --background-rgb: 41, 30, 42;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-rgb));
  }

  main {
    margin-bottom: auto;
  }
}
